* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 231, 231)
}

h1{
    font-size: 7em;
    text-align: center;
    color: white;
    position: relative;
    bottom: 5em;
}


h1 + p{
    font-size: 4em;
    text-align: center;
    color: white;
    position: relative;
    bottom: 9em;
}

h2, h3{
    font-size: 35px;
    margin-left: 10px;
} 

nav ul{
    text-decoration: none;
}

/* buttons homepage*/

a:link{
    text-decoration: none;
    transition: background 0.5s ease;
    padding: 10px;
    border-radius: 0.3em;
}

nav ul{
    list-style: none;
    display: flex;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 40px;
    justify-content: flex-end;
    gap: 4em;
}


nav ul li a{
    color: white;
}


nav li:last-child{
    margin-right: 0px;
}

nav li:first-child{
    margin-left: 30px;
}

li a:hover{
    color: black;
    background-color: white;
}


/* buttons homepage*/


.Foto{
    width: 100vw;
    height: 800px;
    margin-bottom: 0px;
}


main p{
    margin-right: 35em;
    font-size:20px;
    padding: 1em;
    border-radius: 0.3em;
}


.Kalver{
    float: right;
    max-width: 30%;
    margin-right: 120px;
    margin-top: 0px;
}

/*zeedijk*/

.cover{
    color: white;
    font-size: 2em;
    position: relative;
    bottom: 17em;
}

.dijk{
    width: 100vw;
}

/*Vintage*/

.epies {
    width: 100vw;
    height: 80%;
}


/*Winkelstraten*/

.straat {
    width: 100vw;
}

/*Markten*/

.markt {
    width: 100vw;
}


/*De stukjes tekst*/

article {
    padding-left: 1em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
}

article p{
    color: black;
    font-size: 20px;
}

article ul :first-child{
    font-size: 20px;
    margin-top: 1em;
    margin-left: 2em;
}

article ul :last-child{
    margin-top: 1em;
    margin-left: 2em;
    font-size: 20px;
}

article ul :last-child {
    margin-bottom: 40px;
}

section {
   background-repeat: no-repeat;
   position: absolute;
   top: 8px;
   left: 12px;  
}

.sumibu {
    padding: 1em;
}

div img{
    display: flex;
    max-width: 25%;
}

