* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 231, 231)
}

h1 {
    font-size: 7em;
    text-align: center;
    color: white;
    position: relative;
    bottom: 5em;
}


h1 + p {
    font-size: 2em;
    text-align: center;
    color: rgb(10, 10, 10);
    position: relative;
    bottom: 1em;
    margin: 0.5em;
}


h2, h3 {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 0px;
} 

nav ul {
    text-decoration: none;
}

.text {
    font-size: 4em;
}

main p {
    margin-right: 35em;
    font-size:20px;
    padding: 1em;
}



/* buttons homepage*/
a:link {
    text-decoration: none;
    transition: background 0.5s ease;
    padding: 10px;
    border-radius: 0.3em;
}

/*positie buttons*/
nav ul {
    list-style: none;
    display: flex;
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 40px;
    justify-content: flex-end;
    gap: 4em;
}
/*positie buttons*/

nav ul li a {
    color: white;
}

nav li:first-child {
    margin-left: 30px;
}

li a:hover{
    color: black;
    background-color: white;
}
/* buttons homepage*/


/*positie logo*/
section {
    background-repeat: no-repeat;
    position: absolute;
    top: 8px;
    left: 12px;  
 }
 /*positie logo*/
 

.Foto {
    width: 100vw;
    height: 800px;
}


.Kalver {
    float: right;
    max-width: 30%;
    margin-right: 120px;
}

.subtext {
    color: rgb(21, 20, 20);
    font-size: 2em;
}


/*achtergrondfoto's*/
.dijk, .epies, .straat {
    width: 100vw;
}
/*achtergrondfoto's*/


/*De stukjes tekst*/
article {
    padding-left: 1em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 1em;
}

article p {
    color: black;
    font-size: 22px;
}

article ul :first-child {
    margin-top: 1em;
    margin-left: 2em;
    font-size: 22px;
}

article ul :last-child {
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 40px;
    font-size: 22px;
}
/*De stukjes tekst*/

